body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:717px;
  top:205px;
  width:90px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:0px;
  width:1280px;
  height:800px;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:465px;
  top:184px;
  width:360px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:504px;
  top:202px;
  width:306px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:460px;
  top:0px;
  width:10px;
  height:800px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:783px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:800px;
}
#u9 {
  position:absolute;
  left:820px;
  top:0px;
  width:10px;
  height:800px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:783px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:800px;
}
#u10 {
  position:absolute;
  left:465px;
  top:179px;
  width:360px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u11 {
  position:absolute;
  left:520px;
  top:154px;
  width:248px;
  height:30px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:244px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:557px;
  top:3px;
  width:168px;
  height:151px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:151px;
}
#u14 {
  position:absolute;
  left:2px;
  top:68px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:465px;
  top:228px;
  width:360px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u16 {
  position:absolute;
  left:465px;
  top:280px;
  width:360px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u17 {
  position:absolute;
  left:557px;
  top:257px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:749px;
  top:257px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:632px;
  top:244px;
  width:119px;
  height:42px;
  font-size:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:465px;
  top:330px;
  width:360px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u24 {
  position:absolute;
  left:557px;
  top:307px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:749px;
  top:307px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:649px;
  top:293px;
  width:119px;
  height:42px;
  font-size:36px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:465px;
  top:382px;
  width:360px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u31 {
  position:absolute;
  left:557px;
  top:359px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:749px;
  top:359px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:655px;
  top:345px;
  width:119px;
  height:42px;
  font-size:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:499px;
  top:239px;
  width:41px;
  height:42px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:501px;
  top:340px;
  width:39px;
  height:44px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:503px;
  top:294px;
  width:31px;
  height:31px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:533px;
  top:405px;
  width:245px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:650px;
  top:431px;
  width:159px;
  height:209px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:209px;
}
#u46 {
  position:absolute;
  left:2px;
  top:96px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:480px;
  top:490px;
  width:160px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:490px;
  top:495px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:490px;
  top:666px;
  width:310px;
  height:94px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:94px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
