body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-6px;
  top:-30px;
  width:360px;
  height:2570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:0px;
  width:320px;
  height:228px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:228px;
}
#u3 {
  position:absolute;
  left:2px;
  top:106px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:238px;
  width:167px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:95px;
  top:298px;
  width:170px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:112px;
  top:335px;
  width:137px;
  height:38px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:123px;
  top:340px;
  width:28px;
  height:27px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:78px;
  top:401px;
  width:204px;
  height:359px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:359px;
}
#u12 {
  position:absolute;
  left:2px;
  top:172px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:23px;
  top:780px;
  width:314px;
  height:48px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:125px;
  top:852px;
  width:98px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:125px;
  top:1942px;
  width:98px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:125px;
  top:1307px;
  width:98px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:70px;
  top:888px;
  width:208px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:72px;
  top:914px;
  width:204px;
  height:359px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:359px;
}
#u24 {
  position:absolute;
  left:2px;
  top:172px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:72px;
  top:1350px;
  width:204px;
  height:133px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:133px;
}
#u26 {
  position:absolute;
  left:2px;
  top:58px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:125px;
  top:1487px;
  width:98px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:72px;
  top:1557px;
  width:204px;
  height:359px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:359px;
}
#u30 {
  position:absolute;
  left:2px;
  top:172px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:1980px;
  width:228px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:72px;
  top:2020px;
  width:204px;
  height:359px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:359px;
}
#u34 {
  position:absolute;
  left:2px;
  top:172px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:72px;
  top:2420px;
  width:204px;
  height:50px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:88px;
  top:2430px;
  width:42px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-9px;
  width:38px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:76px;
  top:2494px;
  width:197px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
